html body {
  background: #222c37;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
  padding: 60px 0 0;
}

.container {
  margin: 0px 0;
}
.container a {
  color: #ea0c0c;
}
.container a:hover {
  color: #ea0c0c;
}

.header.col-md-12 {
  background: rgba(0,0,0,0.9);
  position: fixed;
  padding: 0px 20px 0;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.header h1 {
  background: url('../media/180sxclub-logo-white.png') no-repeat 0 0;
  height: 56px;
  margin: 0 auto;
  text-indent: -9999px;
  width: 265px;
}

.list-group {
  overflow: hidden;
}

.grid-container .list-group-item {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px dotted #768faa;
  color: #fff;
  float: left;
  list-style: none;
  margin: 0 0 10px 10px;
  padding: 20px 20px;
}

.grid-container .list-group-item:first-child {
  border-radius: 0;
}

.grid-container .list-group-item h2 a {
  color: #768faa;
  font-size: 1.3rem;
}

.grid-container .list-group-item h2 a:hover {
  color: #222c37;
  text-decoration: none;
}

.grid-container .list-group-item img {
  float: left;
  margin: 0px 20px 0px 0;
}

.grid-container .list-group-item:hover {
  cursor: pointer;
  background: #768faa;
  border-color: #768faa;
}

.grid-container .list-group-item:hover img {
  opacity: 1;
}

.grid-container .list-group-item:hover h2 a {
  color: #222c37;
  text-decoration: none;
}

.post-content {
  color: #fff;
  padding: 20px 20px;
}

.post-content h1 {
  color: #768faa;
}

.sidebar {

}

.sidebar ul {

}

.sidebar ul li.list-group-item {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.sidebar ul li.list-group-item h2 a {
  font-size: 1.1rem;
  margin: 0 0 10px 0;
}

.sidebar ul li.list-group-item p {
  display: none;
}

.sidebar ul li.list-group-item img {
  float: none;
  margin: 0 0 20px 0;
}


.footer {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 20px 0 0;
  padding: 15px 0 0;
  text-align: center;
}

@media(min-width: 100px) and (max-width: 768px) {
  .result-detail h2 {
    font-size: 1.5em;
  }
  .grid-container .list-group {
    margin-top: 10px;
    padding: 0;
  }
  .grid-container .list-group-item {
    float: none;
    margin: 0 0 10px;
  }
}
